
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<form method="post">
    <span>Name:@Model.name</span><br />
    <span>CGPA:@Model.cgpa</span><br />
    <input type="submit" value="Delete" class="btn btn-success" />
</form>
