
@{
    ViewBag.Title = "Bio";
}


@model valuePassing.Models.Student
<h2>Bio</h2>
<!---<table class="table table-bordered">
    <tr>
        <td>Name</td>
        
    </tr>-->
   <h3>@Model.name</h3>
<h3>@Model.cgpa</h3>
<h3>@Model.id</h3>
  <!---  <tr>
        <td>Arman
        </td>
        <td>452000</td>
        <td>3.87</td>
    </tr> -->

</table>

