
@{
    ViewBag.Title = "Education";
}
@if (TempData["Msg"] != null)
{
                <span class="alert alert-info">@TempData["Msg"]</span>
            }
<h2>Education</h2>
<table class="table table-bordered">
    <tr>
        <td>Title</td>
        <td>INS</td>
        <td>Result</td>

    </tr>
    @for (int i = 0; i < 3; i++)
    {
        <tr>
        <td>@ViewBag.Edu[i].Title</td>
        <td>@ViewBag.Edu[i].INS</td>
        <td>
            @ViewBag.Edu[i].Result</td>
            </tr>
        }

