
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table class="table table-bordered">
    <tr>
        <td>
            Name
        </td>
        <td>ID</td>
        <td>CGPA</td>
    </tr>
    <tr>
        <td>
            Arman
        </td>
        <td>45200</td>
        <td>3.87</td>
    </tr>
    <tr>
        <td>
            Naser
        </td>
        <td>45255</td>
        <td>3.9</td>
    </tr>
</table>

